# Local development tools; this file is not installed in the production image.
-r requirements.txt
autopep8==2.3.1
black==25.9.0
cssbeautifier==1.15.1
djlint==1.35.2
flake8==7.1.1
flake8-broken-line==1.0.0
flake8-isort==6.1.1
flake8-return==1.2.0
isort==5.13.2
pep8-naming==0.14.1
pre-commit==4.3.0
