{% extends 'admin_base.html' %}
{% load user_filters %}
{% block title %}
  Добавить {{ role }}
{% endblock title %}
{% block content %}
  <div class="container mt-4 user-registration-form">
    <!-- Добавлен класс -->
    <h1 class="mb-4">Добавить {{ role }}</h1>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3 d-flex flex-column align-items-center">
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
            {{ field|addclass:"form-control" }}  <!-- Используем ваш фильтр для добавления класса -->
            {% if field.help_text %}
              <div class="form-text text-muted">{{ field.help_text|linebreaks }}</div>
              <!-- Немаркированный текст -->
            {% endif %}
            {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-between align-items-center my-3">
        <button type="submit" class="btn btn-primary">
          {% if edit %}Изменить {% else %}Добавить{% endif %}</button>
        <a href="{% url 'planner:cabinet' %}" class="btn btn-secondary">Назад</a>
      </div>
    </form>
  </div>
{% endblock content %}
