{% extends 'admin_base.html' %}
{% block title %}
  Список {{ role_plural }}
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <h1>Список {{ role_plural }}</h1>
    <ul class="list-group">
      {% for person in persons %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ person.name }}{{ person.username }} {{ person.email }}
          <div>
            {% if path_edit %}
              <a href="{% url path_edit person.pk %}" class="btn edit btn-sm">Изменить</a>
            {% endif %}
            <a href="{% url path_delete person.pk %}" class="btn btn-danger btn-sm">Удалить</a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="d-flex justify-content-between align-items-center my-3">
      <a href="{% url path_add_person %}" class="btn btn-primary mt-3">Добавить {{ role_singular }}</a>
      <a href="{% url 'planner:cabinet' %}" class="btn btn-secondary">Назад</a>
    </div>
  </div>
{% endblock content %}
